/target
/classes
/checkouts
/doc
/test
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

CHANGELOG.md
README.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
